*{
    margin: 0;
    padding: 0;
}

.present{
    width: 100%;
    height: 500px;
    margin: auto;
    background-image: url(Images/LogoPresent9.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navegacion{
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}

.botom{
    color: #099481;
    text-decoration: none;
    font-family: 'B612', sans-serif;
}

.video{
    text-align: center;
    margin-top: 100px;
}

.derechos{
    text-align: center;
    color: rgb(156, 156, 156);
}

/* /media/?size=l */